---
import Layout from '@layouts/Layout.astro';
import creditCards from '@data/cards.json';
import CreditCardReact from '../components/CreditCard';// React version
import Header from '@ui/Header.astro';// React version

import Icons from "@icons/Icons.astro";


const primeraTarjeta = creditCards[0];
---

<Layout>
  <Header Titulo="Cards" Description="Lista de tarjetas con sus estilos."/>

  <div class="flex flex-col-reverse md:grid grid-cols-2 gap-8">



 

  <ul class="flex flex-col gap-4" id="cards-list">
    {creditCards.map((producto, index) => (
      <button
        class="credit-card-selector border p-3 flex justify-between items-center gap-2 rounded-lg shadow-md dark:text-white font-bold"
        data-product={JSON.stringify(producto)}
      >

      <div>
        <span class="text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm bg-[#CBED94] text-black">
          {producto.Producto.Id}{producto.Producto.SubproductoId}
        </span>
          {producto.Producto.SubproductoNombre}
      </div>

            <Icons
              icon="angle-small-right"/>


      </button>
    ))}
  </ul>

<CreditCardReact
  id={primeraTarjeta.Producto.Id}
  SubproductoId={String(primeraTarjeta.Producto.SubproductoId)}
  SubproductoNombre={primeraTarjeta.Producto.SubproductoNombre}
  Marca={primeraTarjeta.Producto.Marca}
  backgroundColor={primeraTarjeta.Estilos.Background}
  textColor={primeraTarjeta.Estilos.Font}
  logoColor={primeraTarjeta.Estilos.Isologo}
  logoCordobesa={primeraTarjeta.Estilos.logoCordobesa}
  client:load
/>



  </section>

  </div>

</Layout>

<script type="module">
  const cards = document.querySelectorAll(".credit-card-selector");
  let selectedCard = null;

  function selectCard(card) {
    const rawData = card.dataset.product;
    const json = JSON.parse(rawData);

    // Enviar evento a React
    const event = new CustomEvent("update-card", {
      detail: json
    });
    window.dispatchEvent(event);

    // Actualizar clase visual
    if (selectedCard) {
      selectedCard.classList.remove("selected");
    }
    card.classList.add("selected");
    selectedCard = card;
  }

  // Listeners
  cards.forEach(card => {
    card.addEventListener("click", () => selectCard(card));
  });

  // ✅ Seleccionar el primero automáticamente al cargar
  if (cards.length > 0) {
    selectCard(cards[0]);
  }
</script>



<style>
  .credit-card-selector.selected {
    outline: 2px solid #4F46E5; /* Indigo */
    background-color: rgba(79, 70, 229, 0.1);
  }
</style>